@font-face{
    font-family: "Quebec";
    src: url("../assets/fonts/Quebec-Italic.ttf");
}
.cylinders{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 273px;
    height: 602px;
    border-radius: 8px;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 11% 75% 14%;  */
    grid-template-rows: 11% 75% 14%; 
    grid-template-areas: "header" "content" "footer"
}
.header{
    grid-area: header;
    background-color: blue;
    grid-area: header;
}
.content{
    /* background-color: yellow; */
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 39% 36%; 
    grid-template-areas: "config" "feeder" "rolls"
}
.config{
    background-color: green;
    grid-area: config;
}
.footer{
    background-color: orange;
    grid-area: footer;
}

/* header - 11%
config - 38%
alimentador - 57%
rolos - 86%
footer - 14% */

